/* ============= CSS RESET =============== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

/* ============== FONTS ============== */

@font-face {
    font-family: MyriadProRegular;
    src:    url('../fonts/MyriadProRegular.woff') format('woff'),
            url('../fonts/MyriadProRegular.ttf') format('truetype');
}
body,
input,
textarea {
    font-size: 1rem;
    font-family: 'MyriadProRegular', Arial, Helvetica, sans-serif;
}

/* ============== HEADER ============= */

.page-header {
    min-height: 67px;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.header-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
.page-header nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 25px;
}
.page-header nav a:hover {
    color: #ffd45e;
}
.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-logo img {
    /* width: 120px;
    height: 67px; */
    padding-top: 5px;
}
.header-logo .SCE {
    margin-top: 3px;
    color: #ffd45e;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
}
.header-logo .Construction {
    color: #ffd45e;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-bottom: 3px;
}
.toggle-line {
    display: block;
    width: 100%;
    height: 6px;
    background-color: #f5c030;
    border-radius: 4px;
    margin: 2px 0;
}
.nav-toggle {
    width: 50px;
    background: none;
    border: none;
    display: none;
}

/* ============== MAIN ============= */
/* ============== BANNER ============= */

.banner {
    height: 540px;
    background: url(../images/bannerXL.jpg);
    background-position: center center;
    background-size: cover;
    padding-top: 230px;
    box-sizing: border-box;
}
.banner-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

/* ============== CONTENT ============= */
.main-container {
    width: 100%;
    display: flex;
    min-height: 400px;
    flex-direction: column;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFEFBA, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFEFBA, #FFFFFF); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.aboutus, .contactus {
    width: 1170px;
    min-height: 67px;
    margin: 50px auto;
    margin-bottom: 20px;
    display: block;
}
.aboutus h3, .testimonials h3, .contactus h3 {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #ffd45e;
    font-size: 2.5rem;
    font-weight: 600;
}
.aboutus p, .testimonials p, .contactus p {
    padding: 0 60px;
    font-size: 1.05rem;
    line-height: 1.3rem;
    color: #666;
}
.contactus p {
    text-align: center;
}
.aboutus-btn, .contactus-btn {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 50px;
    border: 2px solid #ffd45e;
    border-radius: 8px;
    text-decoration: none;
    color: #ffc935;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.aboutus-btn:hover, .contactus-btn:hover {
    box-shadow:
    5px 5px 20px 0px #0002,
    4px 4px 5px 0px #0001;
}
.testimonials {
    width: 1170px;
    min-height: 67px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
}
.quotes {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.quotes .author {
    color: #ffc219;
}

/* ============== PROJECTS ============= */

/* ============== PROJECTS SLIDER ============= */

.banner-projects {
    height: 540px;
    position: relative;
}
.slider {
    overflow: hidden;
    height: 100%;
}
.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.slider figure img {
    width: 20%;
    float: left;
    transform: translateY(-20%);
}
.slider-text {
    margin-left: auto;
    margin-right: auto;
    top: -260px;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    position: relative;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/* ============== PROJECTS CONTAINER ============= */

.projects-container {
    width: 1170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 500px;
    margin: 40px auto 0 auto;
}
.project {
    width: 350px;
    height: 300px;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
}
.project img {
    position: absolute;
    width: 350px;
    height: 300px;
    transition: all .5s ease-in-out;
    z-index: 400;
}
.project img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.project span {
    width: 350px;
    position: absolute;
    z-index: 1200;
    bottom: 0;
    overflow: hidden;
    height: 70px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 1.8rem;
    color: #ffd86e;
    line-height: 70px;
}

/* ============== CONTACT FORM ============= */

.form-container {
    width: 1170px;
    position: relative;
    padding: 2rem;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form {
    background-color: #ffd45e;
    position: relative;
}
.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #ffc527);
    position: absolute;
}
.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}
.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}
.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #ffd45e;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    position: relative;
    overflow: hidden;
}
.title {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.input-container {
    position: relative;
    margin: 1rem 0;
}
.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 0.8rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
textarea.input {
    padding: 0.8rem 0.8rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}
.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
.input-container.textarea label {
    top: 1rem;
    transform: translateY(0)
}
.btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #ffc935;
    line-height: 1;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.btn:hover {
    background-color: transparent;
    color: #fff;
    margin: 0;
}
.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #ffd45e;
    top: 50%;
    transform: translateY(-50%);
}
.input-container span:before {
    left: 50%;
}
.input-container span:after {
    right: 50%;
}
.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}
.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}
.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}
.contact-info .title {
    color: #ffc935;
}
.text {
    color: #555;
    margin: 1.5rem 0 2rem 0;
}
.information {
    display: flex;
    color: #666;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}
.icon {
    width: 28px;
    font-size: 1.7rem;
    color: #ffd45e;
    margin-right: 0.7rem;
}
.social-media {
    padding: 2rem 0 0 0;
}
.social-media p {
    color: #555;
}
.social-icons {
    display: flex;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #ffd45e, #ffd86e);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}
.social-icons a:hover {
    transform: scale(1.05);
}
.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #ffd45e;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.5;
}

/* ============== FOOTER ============= */
.page-footer {
    min-height: 67px;
    width: 100%;
    background: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(79,51,28,1) 50%, rgba(32,32,32,1) 100%);
    display: flex;
    flex-direction: column;
}
.footer-container {
    width: 1170px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-logo {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding-right: 60px;
}
.footer-logo .SCE {
    margin-top: 3px;
    color: #ffd45e;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
}
.footer-logo .Construction {
    color: #ffd45e;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-bottom: 3px;
}
.footer-address {
    width: 33.3%;
    height: 108.2px;
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.address-header {
    font-size: 1.5rem;
    color: #ffd45e;
    margin-bottom: 15px;
}
.company-name span {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.footer-inner-address address {
    margin-top: 10px;
    color: white;
}
.footer-contact {
    width: 33.3%;
    height: 108.2px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.contact-header {
    font-size: 1.5rem;
    color: #ffd45e;
    margin-bottom: 15px;
}
.contact-inner .phone a, .email a {
    text-decoration: none;
    color: #fff;
}
.contact-inner .email a:hover, .phone a:hover {
    color: #ffd45e;
}
.contact-inner .email {
    margin-top: 5px;
}
.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.socials a {
    display: block;
    color: #ffd45e;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 20px;
    padding-top: 8px;
}
.socials a:hover {
    color: #fff;
}
.copyright {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.1rem;
}
.copyright span {
    color: #ffd45e;
    font-size: 1.2rem;
}
/* ============== MEDIA QUERIES ============= */

@media (max-width: 1199px) {
    .page-header {
        position: absolute;
    }
    .nav-toggle {
        display: block;
        order: 1;
        cursor: pointer;
    }
    nav {
        position: absolute;
        top: 100%;
        z-index: 10;
    }
    nav ul {
        flex-direction: column;
    }
    .left-nav, .right-nav {
        display: none;
    }
    .open .left-nav, .open .right-nav {
        display: block;
    }
    .left-nav {
        left: 15px;
    }
    .right-nav {
        right: 15px;
    }
    nav li {
        margin: 15px 0;
    }
    .open::after {
        content: '';
        display: block;
        width: 100%;
        height: 150px;
        background-color: rgba(31, 31, 31, 0.5);
        position: absolute;
        top: 100%;
        /* box-shadow: inset 0 20px 10px -25px rgba(245, 192, 48, 0.8); */
    }
    .page-header .header-container {
        justify-content: space-between;
    }
    .wrapper {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
}
@media (max-width: 575px) {
    .banner {
        height: 405px;
        background: url(../images/banner3.jpg);
    }
    .banner-block {
        font-size: 2.5rem;
        margin-top: 0;
    }
}